//头部区域
@AppHead_Height:60px;
@AppHead_Backgournd:#ffffff;
@AppHead_Left_Backgournd:url("../assets/AppHeadLeft_bg.jpg") no-repeat center;
@AppHead_Left_Text_color:#ffffff;
@AppHead_Left_Text_Size:18px;
@AppHead_Right_Backgournd:#ffffff;
@AppHead_Right_Border:1px solid #ccc;
//左边导航区域
@AppNav_Width:260px;
@AppNav_Backgournd:#333;
@AppNav_text_color:#aaa;
@AppNav_link_color:#aaa;
@AppNav_link_navActive_color:#4395ff;
//右边内容区域
@AppMain_Background:#ddd;